*{
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  height: 100%;
  --bg:  #242526;
  --bg-accent: #484a4d;
  --body-color: #f6f5f7;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: var(--text-color);
  text-decoration: none;
}

/* ------------------Navbar-------------------- */
.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;

}
.logo{
  margin: 0;
  padding-top: calc(var(--nav-size) * 0.15);
  display: flex;
  font-size: 1.8rem;
}
.logo a{
  color: #faf9f9;
}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item{
  width: var(--nav-size);
  display: flex;
  align-items: center;
  justify-items: center;
}

.icon-button {
  --button-size: 40px;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.3);
}
/* Navbar Dropdown */

.dropdown{
  position: absolute;
  top: calc(var(--nav-size) - 2px);
  width: 150px;
  transform: translateX(-70%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.dropdown-item{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.dropdown-item:hover{
  background-color: #525357;
}

/* Form */
.form-window{
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 700px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 25px #1b1b1b;
  overflow: hidden;
  display: flex;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 50px 50px 50px;
	height: 100%;
	text-align: center;
}
form div{
  display: flex;
  flex-direction: column;
}

input {
	background-color: #cfcece;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 260px;
}
.submit-button{
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid var(--bg);
  background: var(--bg-accent);
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

.submit-button:hover{
  filter: brightness(1.5);
  color: #98999e;
}

.signin-joinus-panel{
  display: flex;
  flex-direction: column;
  background-color: #696c70;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.signup-button{
  border: 2px solid black;
  background-color: var(--body-color);
  color: black;
}
.signup-button:hover{
  background-color: #1b1b1b;
  color: white;
}
.signup-button a{
  color: inherit;
}

.error-msg{
  color: red;
  padding-bottom: 0.8rem;
}

